.App {
  /* padding-top: 10vh; */
  text-align: center;
  font-family: "poynter-oldstyle-display",serif;
  background-color: wheat;
  padding-bottom: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-shadow: 2px 2px black;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.recipe {
  padding-top: 25px;
}
.recipe .form-label {
  font-weight: bold;
}
.recipe label {
  font-weight: bold;
}
.table {
  background: white;
}

.preperation {
  padding-top: 50px;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/